header{
    padding: 20px;
    background-color: #fb6558;
    display: flex;
    justify-content: space-around;
    font-family: bebas;
    font-size: 1.7em;
    a{
        text-decoration: none;
        color: #f2f22f;
    }
}